<div class="container">
  <%= simple_form_for([@pokemon, @booking], data: { controller: "flatpickr" } ) do |f| %>
    <%= f.input :start_date, label: false, as: :string, input_html: { class: "d-none", data: { flatpickr_target: 'startInput' } } %>
    <%= f.input :end_date, label: false, as: :string, input_html: { class: "d-none", data: { flatpickr_target: 'endInput' } } %>
    <%= f.submit 'Book now!', class: 'btn btn-primary' %>
  <% end %>
</div>
