<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner.jpg' %>);">
  <div class="container">
    <h1>PokemonBnB <strong>propose</strong> de <strong>trouver son pokemon</strong>!</h1>
    <p></p>
    <%= link_to "Find your Pokemon now", pokemons_path, class: "btn btn-flat machin" %>
  </div>
</div>
